[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
datefinder = "*"
Keras = "*"
matplotlib = "*"
numpy = "*"
nltk = "*"
pandas = "*"
protobuf = "*"
PyYAML = "*"
sklearn = "*"
tensorflow = "*"
tqdm = "*"

[requires]
python_version = "3.6"
