[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pipenv = "*"
tensorflow = "*"

[packages]
invoice-net-mutusfa = {editable = true,path = "."}
tensorflow = "*"
invoke = "*"
